extends layout

block content
  h3 Welcome , THIS IS MCL Serivice Hub
  h4  Gald to be here
  h4 Impletemented via Node.js and Express

  table
    tr
      td appname: &nbsp;
      td #{appname}
    tr
      td currdate: &nbsp;
      td #{currdate}
    tr
      td builddate: &nbsp;
      td #{builddate}
    tr
      td url: &nbsp;
      td #{url}