extends layout

block content
  h3 Welcome to Azure
  h4 happy to be here
  h4 Node.js and Express

  table
    tr
      td appname: &nbsp;
      td #{appname}
    tr
      td currdate: &nbsp;
      td #{currdate}
    tr
      td builddate: &nbsp;
      td #{builddate}
    tr
      td url: &nbsp;
      td #{url}